@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 62.5%;
  display: grid;
  height: 100vh;

}


.body-background img {
  border-radius: 0;
  border: none;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

}

.nav-bar {
  margin: 1.6rem 0 0 4rem;
  display: flex;
  gap: 4rem;

  position: absolute;
  top: 0;
  left: 0;

}

.nav-bar figure {
  display: grid;
  align-self: center;
}

.nav-bar ul {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;

}

.nav-bar ul li a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;

  color: #C4C4CC;

}

.nav-bar ul .nav-home a {
  font-weight: 700;
  color: #FFFFFF;

}

.nav-bar ul .hide{
  font-weight: 700;
    color: #FFFFFF;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  justify-self: center;
  align-self: center;

}

main .main-title,
h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  color: #E1E1E6;
}

main a {
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: transparent;
  width: 14rem;

  cursor: pointer;

}

main a:hover {
  background-color: #FFFFFF;
  color: #02799D;
  animation: transition-button .5s;

}

.page-universo, .page-exploracao {
  margin: 5rem 5rem 0;
}

.page-universo p, .page-exploracao p {
  width: 648px;
  padding-top: 1.5rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 160%;

  color: #E1E1E6;

}



@keyframes transition-button {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .2;
  }

  50% {
    opacity: .4;
  }

  75% {
    opacity: .6;
  }

  100% {
    opacity: .8;
  }
}